<div class="purchaseForm">


              <!-- <legend></legend> -->


              <form enctype="multipart/form-data" action="admin_page.php" method="POST">
<br>
                  <!-- <p>Name: <input type="text" name="name"></p> -->
                  <p>User name: <input type="text" name="username"></p>
                  <!-- <p>Phone number: <input type="text" name = "number"> </p> -->
                  <p>Password: <input type="Password" name="password"></p>
                  <!-- <p>Description:<Br>
                    <textarea name="description" cols="60" rows="5"></textarea></p>

                  <br>
                  <label>Add files (Max 10 MB)</label><br>
                  <input type="file" name="userfile[]" multiple>
                  <br>
                  <br> -->
                  <input type="submit" value="Sign in">

              </form>
	  <br><br>


</div>
